.wl-header { overflow: visible; } 
.wl-header-item { position: relative; }
.wl-header-item:nth-child(1):before {
    content: '输入QQ号会自动获取昵称和头像🐧';
}

.wl-header-item:nth-child(2):before {
    content: '收到回复将会发送到您的邮箱📧';
}

.wl-header-item:nth-child(3):before {
    content: '可以通过昵称访问您的网站🔗';
}

.wl-header-item:focus-within::before{
    display: block;
}

/* 主内容区 */
.wl-header-item::before {
    /* 先隐藏起来 */
    display: none;
    /* 绝对定位 */
    position: absolute;
    /* 向上移动60像素 */
    top: -31px;
    /* 文字强制不换行，防止left:50%导致的文字换行 */
    white-space: nowrap;
    /* 圆角 */
    border-radius: 10px;
    /* 距离左边50% */
    left: 50%;
    /* 然后再向左边挪动自身的一半，即可实现居中 */
    transform: translate(-50%);
    /* 填充 */
    padding: 0px 18px;
    background: #669900;
    color: #fff;
}